$mainColor: #943C4A;
$mainColorDark: #682835;
$mainWhite: #fff;
$mainCream: #F4E3CF;

@mixin margin {
	width: 800px;
	margin: 0 auto;
}

body {
	background-color: $mainColor;
	color: $mainWhite;
	font-family: Arial;
}

.header {
	@include margin;
	.nav-top {
		.logo {
			font-size: 30px;
			font-weight: 200;
			margin-right: 20px;
			span {
				opacity: 0.5;
			}
		}
		.search {
			input[type=search] {
			width: 40%;
			height: 30px;
			color: $mainColor;
			font-weight: 700;
			padding-left: 10px;
			border: 1px solid $mainColorDark;	
			}
			a > i {
				margin-left: -20px;
				margin-right: 20px;
				color: $mainColor;
				font-size: 10px;
			}
		}
		.upload {
			i {
				color: $mainColor;
				margin-left: -70px;
				font-size: 10px;
				margin-right: 70px;

			}
			input[type=button] {
			background-color: $mainWhite;
			width: 10%;
			height: 30px;
			color: $mainColor;
			font-size: 11px;
			border: 1px solid #682835;
			}
		}
		.profile {
			i {
				font-size: 10px;
				padding: 9px 12px;
				margin-right: 10px;
				background-color: $mainWhite;
				color: $mainColor;
				border: 1px solid $mainColorDark;
			}
			span span {
				font-size: 85%;
			}
		}
	}
	.nav, .bottom-nav {
		ul {
			margin-top: 30px;
			padding: 10px 0px;
			border-top: 1px solid $mainWhite;
			border-bottom: 1px solid $mainWhite;
			li {
				display: inline;
				padding: 0 5px;
				a{
					color: $mainWhite;
					text-decoration: none;
					&:hover {
						opacity: 0.5;
					}
				}
			}
		}
	}
}

.main-content {
	@include margin;
	.sidebar {
		float: right;
		font-size: 11px;
		width: 40%;
		.activity {
			.activity-header {
				padding-bottom: 10px;
				span:first-child {
					font-size: 20px;
					margin-right: 60px;
				}
				span:last-child {
					font-size: 10px;
				}
			}
			.activity-main {
				margin: 5px 0;
				padding: 5px 0;
				border-top: 2px solid $mainWhite;
				border-bottom: 1px solid $mainWhite;
			}
			.activity-comment {
				padding: 5px;
				&:hover {
					border: 1px solid $mainWhite;
					background-image: url("../images/activity-corner.png");
					background-repeat: no-repeat;	
					background-position: top right;
				}
				a {
					text-decoration: none;
					color: $mainWhite;
				}
			}
			.image {
				float: left;
				margin-right: 5px;
				height: 40px;
				width: 60px;
				background-color: $mainCream;
			}
			span i {
				margin-right: 5px;
			}
		}
		.channels {
			.big-image-left, .big-image-right {
				height: 100px;
				width: 155px;
				margin: 5px 0;
				background-color: $mainCream;
			}
			.big-image-left {
				float: left;
			}
			.big-image-right {
				float: right;
			}
		}
	}
	.block {
		width: 60%;
		color: $mainColor;
		margin-bottom: 20px;
		h2, h6 {
			color: $mainWhite;
			width: 50%;
			display: inline;
		}
		h6 {
			margin-left: 130px;
		}
		.main-block {
			margin-top: 10px;
			float: left!important;
			background-color: $mainCream!important;
			height: 205px!important;
			width: 310px!important;
		}
		.small-block-1, .small-block-2 {
			float: right;
			height: 97px;
			width: 150px;
			background-color: $mainCream;
			margin-top: 10px;
			margin-right: 10px;
		}
		.small-block-3 {
			height: 102px;
			width: 150px;
			background-color: $mainCream;
			margin-top: 225px;
			margin-right: 10px;
		}
		.small-block-4 {
			height: 102px;
			width: 150px;
			background-color: $mainCream;
			margin-left: 160px;
			margin-top: -102px;
		}
		.small-block-5 {
			height: 102px;
			width: 150px;
			background-color: $mainColor;
			color: $mainWhite;
			margin-left: 320px;
			margin-top: -102px;
			border: 1px solid $mainWhite;
			a {
				color: $mainWhite;
			}
			.block-5-inside {
				margin-top: 10px;
				.circle {
				border: 1px solid $mainWhite;
				border-radius: 50%;
				width: 10px;
				height: 10px;
				padding: 7px;
				display: block;
				margin-left: 20px;
				margin-top: 30px;
				float: left;
				text-align: center;
					i {
						font-size: 10px;
						width: 10px;
						height: 10px;
						display: block;
					}
				}
				span {
					display: inline-block;
					font-size: 10px;
					margin-top: 30px;
					margin-right: 8px;
					font-weight: bold;
				}
			}
		}
	}
}

.footer {
	margin-top: 50px;
	border-top: 1px solid $mainWhite;
	width: 800px;
	margin: auto;
	.social {
	margin-top: 10px;
		div {
			background-color: $mainCream;
			display: inline-block;
			color: $mainColor;
			text-align: center;
			i {
				display: inline-block;
				height: 20px;
				width: 20px;
				font-size: 10px;
				margin: 0 3px;
			}
		}
	}
	.bottom-nav {
			ul {
				margin: 0px;
				margin-top: 10px;
				padding: 10px 0px;
				li {
					display: inline;
					padding: 0 5px;
					a{
						color: $mainWhite;
						text-decoration: none;
						font-size: 10px;
						&:hover {
							opacity: 0.5;
						}
					}
				}
			}
		}

	.copyright {
		font-size: 8px;
		line-height: 1px;
	}
}
